@use './select'; /* SELECT box */
@use './radio'; /* RADIO & RADIO GROUP */
@use './checkbox'; /* CHECKBOX & CHECKBOX GROUP */
@use './text-field'; /* TEXT-FIELD */
@use './spin-field'; /* SPIN-FIELD (Spin box for text fields) */
@use './tabs'; /* TABS */
@use './slider'; /* SLIDER */

html,
body {
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
}

/* V-LIST */
.v-list-item__prepend {
  width: 32px !important; // Reduced the space between the prepend icon and text in the v-list
}

/* Button */
.v-btn {
  text-transform: none; // Disabled V-BTN text from being capitalized
}

/* Data Table */
.v-data-table-footer {
  padding-top: 20px; // Increased the spacing between table and pagination
  justify-content: center !important; // Centered the data table pagination
}

.v-table__wrapper {
  // Added table border lines
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.data-table-even-row {
  background-color: #f5f5f5;
  border-left: 2px solid black;
}

.data-table-odd-row {
  background-color: #ffffff;
}

/* EXPANSION PANEL */
.expansion-panel-title {
  display: flex;
  align-items: center;
}

.expansion-panel-icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px; /* adjusting between icon and title */
}

.expansion-panel-icon {
  font-size: 24px;
}

.expansion-panel-text {
  padding-left: 40px; /*  apply padding to match the first character of the title */
}

/* LINK */
.link-no-decoration {
  // no decoration on link
  text-decoration: none;
  color: inherit;
}

.link-no-decoration:focus,
.link-no-decoration:hover,
.link-no-decoration:visited,
.link-no-decoration:link,
.link-no-decoration:active {
  text-decoration: none;
  color: inherit;
}

/* CARD */
.v-card-text {
  padding: 0rem !important; // due to Species Information v-card
}

.v-card-title {
  color: #ffffff;
  background: #003366;
  padding: 1rem !important;
}

/* etc */

.readonly-text {
  color: black;
  font-size: 16px;
}

.readonly-label {
  font-size: 12px;
  color: #747474;
}

.search-label {
  font-size: 14px;
}

.rounded-chip {
  border-radius: 5px !important;
}

.dotted-divider {
  border-top: 2px dotted #000;
}

.hr-line {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.col-space-1 {
  max-width: 1%;
}

.col-space-2 {
  max-width: 2%;
}

.col-space-3 {
  max-width: 3%;
}

.col-space-4 {
  max-width: 4%;
}

.col-space-6 {
  max-width: 6%;
}

/* Indenting the label and output value of a read-only text field */
[data-testid='species-groups-container'] .v-field__field,
[data-testid='species-groups-container'] .v-field__outline {
  padding-left: 16px;
}
[data-testid='min-dbh-limit'] .v-field__field,
[data-testid='min-dbh-limit'] .v-field__outline {
  padding-left: 16px;
}
[data-testid='current-diameter'] .v-field__field,
[data-testid='current-diameter'] .v-field__outline {
  padding-left: 16px;
}
