@use './select'; /* SELECT box */
@use './radio'; /* RADIO & RADIO GROUP */
@use './checkbox'; /* CHECKBOX & CHECKBOX GROUP */
@use './text-field'; /* TEXT-FIELD */
@use './spin-field'; /* SPIN-FIELD (Spin box for text fields) */
@use './tabs'; /* TABS */
@use './slider'; /* SLIDER */
@use './expansion-panel'; /* EXPANSION PANEL */
@use './link'; /* LINK */

html,
body {
  font-family: 'BC Sans', 'Noto Sans', Verdana, Arial, sans-serif !important;
}

.hr-line {
  border-top: 1px solid var(--surface-color-border-default);
}

.col-space-1 {
  max-width: 1%;
}

.col-space-2 {
  max-width: 2%;
}

.col-space-3 {
  max-width: 3%;
}

.col-space-4 {
  max-width: 4%;
}

.col-space-6 {
  max-width: 6%;
}
