{{- if .Values.backend.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
spec:
  strategy:
    type: {{ .Values.backend.deploymentStrategy }}
  {{- if not .Values.backend.autoscaling.enabled }}
  replicas: {{ .Values.backend.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "backend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8080'
        prometheus.io/path: '/api/metrics'
      labels:
        {{- include "backend.labels" . | nindent 8 }}
    spec:
      {{- if .Values.backend.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.backend.podSecurityContext | nindent 12 }}
      {{- end }}
      containers:
        - name: {{ include "backend.fullname" . }}
          {{- if .Values.backend.securityContext }}
          securityContext:
            {{- toYaml .Values.backend.securityContext | nindent 12 }}
          {{- end }}
          image: "{{.Values.global.registry}}/{{.Values.global.repository}}/backend:{{ .Values.global.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ default "Always" .Values.backend.imagePullPolicy }}
          envFrom:
            - secretRef:
                name: {{.Release.Name}}
          env:
            - name: LOG_LEVEL
              value: info
            - name: QUARKUS_OIDC_AUTH_SERVER_URL
              value: {{ .Values.backend.env.QUARKUS_OIDC_AUTH_SERVER_URL | quote }}
            - name: QUARKUS_OIDC_CLIENT_ID
              value: {{ .Values.frontend.env.VITE_SSO_CLIENT_ID | quote }}
            - name: QUARKUS_OIDC_APPLICATION_TYPE
              value: "service"
            - name: QUARKUS_OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.OIDC_CLIENT_SECRET_SECRET_NAME }}
                  key: {{ .Values.backend.env.OIDC_CLIENT_SECRET_SECRET_KEY }}
            - name: QUARKUS_OIDC_PUBLIC_KEY
              value: {{ .Values.backend.env.QUARKUS_OIDC_PUBLIC_KEY | quote }}
            - name: COMS_BASE_URL
              value: {{ .Values.backend.env.COMS_BASE_URL | quote }}
            - name: COMS_S3_ACCESSKEYID
              value: {{ .Values.coms.env.OBJECTSTORAGE_ACCESSKEYID | quote }}
            - name: COMS_S3_SECRETACCESSKEY
              value: {{ .Values.coms.env.OBJECTSTORAGE_SECRETACCESSKEY | quote }}
            - name: COMS_S3ACCESS_BUCKET
              value: {{ .Values.coms.env.OBJECTSTORAGE_BUCKET | quote }}
            - name: COMS_S3ACCESS_ENDPOINT
              value: {{ .Values.coms.env.OBJECTSTORAGE_ENDPOINT | quote }}
            - name: COMS_BASICAUTH_USERNAME
              value: {{ .Values.coms.env.BASICAUTH_USERNAME | quote }}
            - name: COMS_BASICAUTH_PASSWORD
              value: {{ .Values.coms.env.BASICAUTH_PASSWORD | quote }}
            - name: CORS_FRONTEND_BASE_URL
              value: {{ .Values.backend.env.CORS_FRONTEND_BASE_URL | quote }}
            - name: BATCH_BASE_URL
              value: {{ .Values.backend.env.BATCH_BASE_URL | quote }}
            - name: VDYP_PROJECTION_EXPIRY_DAYS
              value: {{ .Values.backend.env.VDYP_PROJECTION_EXPIRY_DAYS | quote }}
            - name: VDYP_DB_PROXY_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.VDYP_PROXY_DB_SECRET_NAME }}
                  key: user
            - name: VDYP_DB_PROXY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.VDYP_PROXY_DB_SECRET_NAME }}
                  key: password
            - name: VDYP_DB_PROXY_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.VDYP_PROXY_DB_SECRET_NAME }}
                  key: host
            - name: VDYP_DB_PROXY_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.VDYP_PROXY_DB_SECRET_NAME }}
                  key: port
            - name: VDYP_DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.backend.env.VDYP_DB_SECRET_NAME }}
                  key: dbname
          ports:
            - name: http
              containerPort: {{ .Values.backend.service.targetPort }}
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /q/health
              port: http
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 2
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 30
          livenessProbe:
            successThreshold: 1
            failureThreshold: 3
            httpGet:
              path: /q/health
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 5
          resources: # this is optional
            limits:
              cpu: 250m
              memory: 250Mi
            requests:
              cpu: 50m
              memory: 150Mi
      {{- with .Values.backend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.backend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - {{ include "backend.fullname" . }}
                  - key: app.kubernetes.io/instance
                    operator: In
                    values:
                      - {{ .Release.Name }}
              topologyKey: "kubernetes.io/hostname"

{{- end }}
