name: .Helm Deployer

on:
  workflow_call:
    inputs:
      ### Required
      # Only secrets!

      ### Typical / recommended
      directory:
        description: Chart directory
        default:  'charts/app'
        required: false
        type: string
      environment:
        description: Environment name; omit for PRs
        required: false
        type: string
      oc_server:
        default: https://api.silver.devops.gov.bc.ca:6443
        description: 'OpenShift server'
        required: false
        type: string
      params:
        description: 'Extra parameters to pass to helm upgrade'
        default: ''
        required: false
        type: string
      ref:
        description: 'Reference for checkout action'
        default: 'main'
        required: false
        type: string
      tag:
        description: Specify a tag to deploy; use SemVer or PR Number
        required: false
        type: string


      ### Usually a bad idea / not recommended
      timeout-minutes:
        description: 'Timeout minutes'
        default: 10
        required: false
        type: number
      values:
        description: 'Values file'
        default: 'values.yaml'
        required: false
        type: string

    secrets:
      oc_namespace:
        required: true
      oc_token:
        required: true
      VITE_SSO_AUTH_SERVER_URL:
        required: true
      VITE_SSO_CLIENT_ID:
        required: true
      VITE_SSO_REALM:
        required: true
      VITE_SSO_REDIRECT_URI:
        required: true
      VITE_SSO_TOKEN_ISSUER:
        required: true
      VITE_API_URL:
        required: true
      KEYCLOAK_CLIENT_SECRET:
        required: true
permissions:
  contents: read        # for actions/checkout
jobs:
  deployer:
    name: Helm
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-22.04
    steps:
      ### tag and release

      # Variables      
      - name: Set TAG and RELEASE vars for later use
        id: vars
        run: |
          # Vars: tag and release

          # Tag defaults to PR number, but can be overridden by inputs.tag
          tag=${{ inputs.tag }}

          # Release name includes run numbers to ensure uniqueness
          release=${{ github.event.repository.name }}-${{ inputs.environment }}

          # Summary
          echo "tag=${tag}"
          echo "release=${release}"

          # Output
          echo "tag=${tag}" >> $GITHUB_OUTPUT
          echo "release=${release}" >> $GITHUB_OUTPUT

      ### Deploy

      # OC Login
      - name: OpenShift Login
        run: |
          # OC Login
          oc login --token=${{ secrets.oc_token }} --server=${{ inputs.oc_server }}
          oc project ${{ secrets.oc_namespace }} # Safeguard!

      # Only stop pre-existing deployments on PRs (status = pending-upgrade)
      - if: github.event_name == 'pull_request'
        name: Interrupt existing PR based deployments if we are PR based
        run: |
          # Interrupt any previous deployments (PR only)
          PREVIOUS=$(helm status ${{ steps.vars.outputs.release }} -o json | jq .info.status || true)
          if [[ ${PREVIOUS} =~ pending ]]; then
            echo "Rollback triggered"
            helm rollback ${{ steps.vars.outputs.release }} || \
              helm uninstall ${{ steps.vars.outputs.release }}
          fi
      # Secrets Management
      - name: Create Secrets
        working-directory: ${{ inputs.directory }}
        run: |
          oc -n ${{ secrets.oc_namespace }} create secret generic "vdyp-oidc" \
          --from-literal=client-secret='${{ secrets.KEYCLOAK_CLIENT_SECRET }}' \
          --dry-run=client -o yaml | oc apply -f -

      # Package Helm chart
      - name: Checkout Helm Chart
        uses: actions/checkout@v4
        with:
            ref: ${{ inputs.ref || 'main' }}  # fallback if ref is not provided
      - name: Configure Helm
        working-directory: ${{ inputs.directory }}
        run: |
          # Helm package
          sed -i 's/^name:.*/name: ${{ github.event.repository.name }}/' Chart.yaml
          helm package -u . --app-version="tag-${{ steps.vars.outputs.tag }}_run-${{ github.run_number }}" --version=${{ steps.vars.outputs.tag }}

      # Deploy Helm chart as atomic, with timeout
      - name: Atomic Helm Deployment
        working-directory: ${{ inputs.directory }}
        run: |
          # Helm upgrade/rollout - atomic, timeout
          helm upgrade \
            --values ${{ inputs.values }} \
            --set-string global.repository=${{ github.repository }} \
            --set-string global.tag=${{ steps.vars.outputs.tag }} \
            ${{ inputs.params }} \
            --set global.secrets.databaseName=${{ vars.POSTGRES_DATABASE }} \
            --set global.secrets.databaseUser=${{ vars.POSTGRES_USER }} \
            --set global.secrets.databasePassword=${{ secrets.POSTGRES_PASSWORD }} \
            --set bitnami-pg.auth.username=${{ vars.POSTGRES_USER }} \
            --set bitnami-pg.auth.database=${{ vars.POSTGRES_DATABASE }} \
            --set global.secrets.VDYP_DB_PASSWORD=${{ secrets.VDYP_DB_PASSWORD }} \
            --set backend.env.QUARKUS_OIDC_AUTH_SERVER_URL=${{ secrets.VITE_SSO_TOKEN_ISSUER }}\
            --set backend.env.VDYP_DB_USER=${{ vars.VDYP_DB_USER }} \
            --set backend.env.VDYP_DB_DATABASE=${{ vars.VDYP_DB_DATABASE }} \
            --set backend.env.COMS_BASE_URL=${{ vars.COMS_BASE_URL }} \
            --set backend.env.CORS_FRONTEND_BASE_URL=${{ vars.CORS_FRONTEND_BASE_URL }} \
            --set batch.env.BATCH_DB_USER=${{ vars.BATCH_DB_USERNAME }} \
            --set batch.env.BATCH_DB_DATABASE=${{ vars.BATCH_DB_DATABASE }} \
            --set frontend.env.VITE_SSO_AUTH_SERVER_URL=${{ secrets.VITE_SSO_AUTH_SERVER_URL }} \
            --set frontend.env.VITE_SSO_CLIENT_ID=${{ secrets.VITE_SSO_CLIENT_ID }} \
            --set frontend.env.VITE_SSO_REALM=${{ secrets.VITE_SSO_REALM }} \
            --set frontend.env.VITE_SSO_REDIRECT_URI=${{ secrets.VITE_SSO_REDIRECT_URI }} \
            --set frontend.env.VITE_API_URL=${{ secrets.VITE_API_URL }} \
            --set frontend.env.VITE_SSO_TOKEN_ISSUER=${{ secrets.VITE_SSO_TOKEN_ISSUER }} \
            --set-string coms.image.tag=${{ vars.COMS_TAG }} \
            --set-string coms.env.OBJECTSTORAGE_ENABLED=true \
            --set-string coms.env.OBJECTSTORAGE_ACCESSKEYID=${{ vars.OBJECTSTORAGE_ACCESSKEYID }} \
            --set-string coms.env.OBJECTSTORAGE_SECRETACCESSKEY=${{ secrets.OBJECTSTORAGE_SECRETACCESSKEY }} \
            --set-string coms.env.OBJECTSTORAGE_BUCKET=${{ vars.OBJECTSTORAGE_BUCKET }} \
            --set-string coms.env.OBJECTSTORAGE_ENDPOINT=${{ vars.OBJECTSTORAGE_ENDPOINT }} \
            --set-string coms.env.OBJECTSTORAGE_KEY=${{ vars.OBJECTSTORAGE_KEY }} \
            --set-string coms.env.BASICAUTH_ENABLED=true \
            --set-string coms.env.BASICAUTH_USERNAME=${{ vars.COMS_SERVICE_USERNAME }} \
            --set-string coms.env.BASICAUTH_PASSWORD=${{ secrets.COMS_SERVICE_PASSWORD }} \
            --set-string coms.env.KC_ENABLED=true \
            --set-string coms.env.KC_PUBLICKEY=${{ secrets.COMS_KEYCLOAK_PUBLICKEY }} \
            --set-string coms.env.KC_REALM=${{ secrets.VITE_SSO_REALM }} \
            --set-string coms.env.KC_SERVERURL=${{ secrets.VITE_SSO_AUTH_SERVER_URL }} \
            --install --wait --atomic ${{ steps.vars.outputs.release }} \
            --timeout ${{ inputs.timeout-minutes }}m \
            ./${{ github.event.repository.name }}-${{ steps.vars.outputs.tag }}.tgz

      # Helm release history
      - name: Helm Release History
        run: |
          # Helm release history
          helm history ${{ steps.vars.outputs.release }}

      ### Cleanup

      # Completed pod cleanup
      - name: Pod Cleanup
        run: |
          # Completed pod cleanup
          oc delete po --field-selector=status.phase==Succeeded || true
