name: Deploy Release Candidates to Test
on:
  release:
    types: [prereleased]

permissions:
  contents: read
  packages: write

jobs:
  tag-builds:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component-name: [
          frontend, backend, batch
        ]
    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN}}

      - name: Tag relevant images
        run: |
          IMAGE = ghcr.io/${{ github.repository }}/${{ matrix.component-name }}
          docker pull $IMAGE:latest
          docker tag $IMAGE:latest $IMAGE:${{ github.event.release.tag_name }}
          docker tag $IMAGE:latest $IMAGE:deploy-test
          docker push $IMAGE:${{ github.event.release.tag_name }}
          docker push $IMAGE:deploy-test

  # include additional steps for DLV, PRD
  # rename to deploy-wftst, rename environment to tst
  deploy-test:
    needs: tag-builds
    if: ${{ contains(github.event.release.tag_name, '-rc') }}
    uses: ./.github/workflows/openshift-target-environment.yml
    secrets: inherit
    with:
      target_environment: test
      tag: ${{ github.event.release.tag_name }}
